<% layout ('layouts/main.ejs') %>

<div id='batTable'>
  <table>
    <thead>
      <tr>
        <th>DateTime</th>
        <th><a href="/batrecords/batV" class="button">Voltage</a></th>
        <th><a href="/batrecords/batI" class="button">Current</a></th>
        <th><a href="/batrecords/batP" class="button">Power</a></th>
        <th><a href="/batrecords/batC" class="button">Charge %</a></th>
        <th><a href="/batrecords/batQ" class="button">AmpHours</a></th>
      </tr>
    </thead>
    <tbody>
      <% var current%>
      <% batRecords.forEach(function(batRecord){ %>
        <% current = moment.unix(batRecord.timeIndex) %>
        <% current.subtract(4, 'hours') %>
        <tr>
          <td><%= current.format("L, LT") %></td>
          <td><%= (batRecord.batV / 1000).toFixed(2) %></td>
          <td><%= (batRecord.batI  / 1000).toFixed(2) %></td>
          <td><%= (batRecord.batP / 100).toFixed(2) %></td>
          <td><%= batRecord.batC.toFixed(1) %></td>
          <td><%= (batRecord.batQ  / 1000).toFixed(2) %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>